:root {
  --clr-primary-100: hsl(223, 87%, 63%);
  --clr-primary-200: hsl(223, 100%, 88%);
  --clr-primary-300: hsl(354, 100%, 66%);

  --clr-neutral-100: hsl(0, 0%, 59%);
  --clr-neutral-200: hsl(209, 33%, 12%);
  --clr-neutral-300: hsl(0, 0%, 59%, 0.7);

  --ff-primary-100: "Libre Franklin", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-400: clamp(0.8594rem, 0.8177rem + 0.2083vw, 1rem);
  --fs-500: clamp(1.0313rem, 0.9664rem + 0.3241vw, 1.25rem);
  --fs-600: clamp(1.2375rem, 1.1412rem + 0.4815vw, 1.5625rem);
  --fs-700: clamp(1.485rem, 1.3463rem + 0.6935vw, 1.9531rem);
  --fs-800: clamp(1.7819rem, 1.5865rem + 0.9769vw, 2.4413rem);
  --fs-900: clamp(2.1381rem, 1.8674rem + 1.3537vw, 3.0519rem);
  --fs-1000: clamp(2.5663rem, 2.1963rem + 1.85vw, 3.815rem);
  --fs-1100: clamp(3.0794rem, 2.579rem + 2.5019vw, 4.7681rem);
  --fs-1200: clamp(3.695rem, 3.0237rem + 3.3565vw, 5.9606rem);
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: inherit;
  font-family: var(--ff-primary-100);
}

body {
  padding: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .logo {
  width: 70px;
  height: auto;
  margin: 0 auto;
}

h1 {
  font-size: var(--fs-800);
  font-weight: var(--fw-regular);
  text-align: center;
  margin-top: 40px;
  color: var(--clr-neutral-100);
  line-height: 1.1;
}

h1 span {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-200);
}

p {
  font-size: var(--fs-500);
  margin-top: 16px;
}

.illustration {
  margin-top: 80px;
  width: min(100%, 800px);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0 64px 0;
}

.footer_icons {
  display: flex;
}

.footer_icons-wrapper:nth-child(even) {
  margin: 0 16px 0 16px;
}

.footer_icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--fs-700);
  height: var(--fs-700);
  border-radius: 2em;
  border: 1px solid var(--clr-primary-100);
}

i {
  font-size: var(--fs-500);
  display: flex;

  text-align: center;
  line-height: 1.2 !important;
  color: var(--clr-primary-100);
}

i:hover {
  color: white;
  background-color: var(--clr-primary-100);
}

footer small {
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-100);
  margin-top: 32px;
}

@media (min-width: 1142px) {
  body {
    padding: 64px 0 0 0;
  }

  main {
    max-width: 1110px;
    margin: 0 auto;
  }
}

#signupForm {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: min(100%, 300px);
}

input[type="email"] {
  padding: 8px 32px;
  margin-bottom: 10px;
  border: 2px solid var(--clr-primary-200);
  border-radius: 25px;
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
}

button {
  padding: 8px;
  color: white;
  background-color: var(--clr-primary-100);
  border: none;
  border-radius: 25px;
  font-size: var(--fs-500);
  cursor: pointer;
  margin-top: 4px;
  font-weight: var(--fw-medium);
  box-shadow: 0 2px 6px var(--clr-primary-100); /* Light box shadow */
}

button:hover {
  background-color: #0056b3;
}

#emailInput::placeholder {
  color: var(--clr-neutral-300);
  font-weight: var(--fw-light);
}

@media (min-width: 570px) {
  #signupForm {
    display: grid;
    grid-template-columns: 350px 180px;
    justify-content: center;
    margin-top: 32px;
    width: min(100%, 300px);
    gap: 16px;
  }

  input[type="email"] {
    margin-bottom: 0;
  }

  button {
    margin-top: 0;
  }
}
